* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize
}

body {
    overflow: hidden;
    font-family: arial;
    background-color: var(--body-background)
}

:root {
    --body-background: #fff;
    --calculator-background: #303030;
    --screen-background: #1c1c1c;
    --key-background: #404040;
/*    --key-hover-background: #585858;*/
    --key-active: #262626;
    --operator-background: #ff9500;
    --clear-background: #ff3b30;
    --modal-content: #1c1c1c;
    --trsition: all .3s
}


.Dark-Gunmetal {
    --body-background: #1a2634;
    --calculator-background: #1a2634;
    --screen-background: #0f1722;
    --key-background: #1f2b3a;
    --key-hover-background: #364f63;
    --key-active: #1a2634;
    --operator-background: #3867d6;
    --clear-background: #1f2b3a;
    --modal-content: #0f1722
}

.Dark-Gunmetal .screen input {
    background-color: #1f2b3a;
    color: #fff
}

.Hexadecimal {
    --body-background: #3B3E4D;
    --calculator-background: #3B3E4D;
    --screen-background: #292C38;
    --key-background: #484D5A;
    --key-hover-background: #60657C;
    --key-active: #21232B;
    --operator-background: #E91E63;
    --clear-background: red;
    --modal-content: #484D5A
}

.Hexadecimal .screen input {
    background-color: #484D5A
}

.Dark-Slate-Blue {
    --body-background: #1e1f2a;
    --calculator-background: #242634;
    --screen-background: #313342;
    --key-background: #3e405b;
    --key-hover-background: #50537c;
    --key-active: #2f2f3e;
    --operator-background: #ff6348;
    --clear-background: #f53b57;
    --modal-content: #2d2d44;
}

.Dark-Slate-Blue .screen input {
    background-color: #484D5A
}

.success-message {
    padding: 7px 10px;
    border-radius: 4px;
    font-weight: bold;
    line-height: 24px;
    background-color: green;
    border-color: #c3e6cb;
    color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 9999
}

.calculator {
    width: 300px;
    background-color: var(--calculator-background);
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    position: relative
}

/* Strat Setting box */
.settings-box {
    position: fixed;
    top: 0;
    left: -200px;
    background: var(--operator-background);
    width: 200px;
    z-index: 999;
    min-height: 100vh;
    transition: var(--trsition)
}

.settings-box.show {
    left: 0
}

.settings-box h2 {
    text-align: center;
    color: #fff
}

.settings-box .settings {
    border-bottom: 1px solid #fff
}

.settings-box .option-box {
    margin: 10px;
    border-radius: 6px;
    background: #ddd;
    text-align: center
}

.settings-box .settings h4 {
    color: #666;
    font-size: 14px
}


.settings-box .settings .colors-list {
    margin: 10px 0 0
}

.settings-box .settings .colors-list li {
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block
}

.settings-box .settings .colors-list li.active {
    border: 2px solid #fff;
    padding: 3px;
    width: 22px;
    height: 22px
}

.settings-box .settings .colors-list li:first-of-type {
    background-color: #ff9500
}

.settings-box .settings .colors-list li:nth-child(2) {
    background-color: #3867d6
}

.settings-box .settings .colors-list li:nth-child(3) {
    background-color: #E91E63
}

.settings-box .settings .colors-list li:nth-child(4) {
    background-color: #1e1f2a
}


.settings .option-box span {
    width: 60px;
    background: var(--operator-background);
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 0;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--trsition);
    opacity: .5
}

.settings-box span.active {
    border: 2px solid #fff
}

.settings-box span.active,
.settings-box span:hover {
    opacity: 1
}

.settings-box .reset-options {
    background: var(--clear-background);
    margin-left: 10px;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: var(--trsition);
    border: 1px solid #fff;
    margin-bottom: 10px
}

.settings-box .reset-options:hover {
    opacity: .5
}

.others {
    padding: 20px 10px;
}

.others h3 {
    color: #fff
}

.others a {
    display: block;
    margin: 20px 10px;
    cursor: pointer;
    transition: var(--trsition);
    color: #fff
}

.others a:hover {
    color: #333
}

/* End Setting box */

.screen {
    width: 100%;
    background-color: var(--screen-background);
    padding: 0 0 0 5px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    overflow: hidden
}

.screen ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 14px;
    list-style: none;
    grid-gap: 3px;
    padding-left: 5px
}

.screen ul li {
    background-color: #fff;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer
}

.screen input {
    letter-spacing: 2px;
    width: 80%;
    font-size: 20px;
    padding-left: 5px;
    border: 0;
    color: #fff
}

.screen > span {
    position: absolute;
    top: 0;
    left: 48px;
    color: var(--operator-background);
    display: none
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px
}

.key,
.record {
    width: calc(25% - 10px);
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: var(--key-background);
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: var(--trsition)
}

.key.memory {
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.record {
    background-color: var(--operator-background);
    font-size: 15px
}

.operator {
    background-color: var(--operator-background);
}


/*
.key:hover,
.record:hover {
    background-color: var(--key-hover-background);
}
*/

.key:active {
    background-color: var(--key-active);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--modal-content);
    margin: auto;
    padding: 30px 10px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

@media(max-width:767px) {
    .modal-content {
        width: 97%
    }
}

@media(min-width:991px) {
    .modal-content {
        width: 40%
    }
}


.close {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 3px;
    color: #fff;
    transition: var(--trsition)
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#record-list {
    list-style: none;
    background: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    overflow: auto;
    max-height: 400px;
    scroll-behavior: smooth
}

#record-list::-webkit-scrollbar {
    width: 8px
}

#record-list::-webkit-scrollbar-track {
    background: #f1f1f1
}

#record-list::-webkit-scrollbar-thumb {
    background-color: var(--calculator-background);
    border-radius: 10px
}

#record-list::-webkit-scrollbar-thumb:hover {
    background-color: #555
}


#record-list li {
    border-bottom: 1px solid var(--calculator-background);
    padding: 10px 0;
    font-size: 15px;
    display: flex;
    align-items: center;
}

#record-list li:last-of-type {
    border-bottom: none
}

#record-list li div {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center
}


#record-list li div span:last-of-type {
    color: var(--clear-background)
}

#record-list li > button {
    background-color: var(--clear-background);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    transition: var(--trsition)
}

#record-list li > button:hover {
    background-color: var(--key-hover-background)
}

.modal-content > div button {
    padding: 5px 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff
}

#clear-record-btn {
    margin-top: 10px;
    background-color: var(--clear-background);
    transition: var(--trsition)
}

#clear-record-btn:hover {
    background-color: var(--key-hover-background)
}

.modal-content > div button {
    transition: var(--trsition)
}

.modal-content > div button:last-of-type {
    background-color: green
}

.modal-content > div button:last-of-type:hover {
    background-color: var(--key-hover-background)
}

.confirm-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.confirm-delete-message {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.confirm-delete-message p {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold
}

.confirm-delete-message button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--trsition)
}

.confirm-delete-message button.confirm-delete-yes {
    background-color: var(--clear-background);
    margin-right: 10px;
}

.confirm-delete-message button.confirm-delete-no {
    background-color: green;
}

.confirm-delete-message button:hover {
    opacity: 0.7;
}
