body {
    overflow: hidden
}

.calculator {
    width: 300px;
    background-color: #444;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
}

.screen {
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: right;
    box-sizing: border-box;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.key {
    width: calc(25% - 10px);
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #666;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.operator {
    background-color: #fff
}

.operator {
    background-color: #ff9f1a;
}

.clear {
    background-color: #ff6b6b;
}

.equal {
    background-color: #4cd137;
}

.key:hover {
    background-color: #555;
}

.key:active {
    background-color: #444;
}

body {
    overflow: hidden
}

.loader {
    background: #333;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
